In [101]:
import pandas as pd
import numpy as np
import os
# plt.style.use('seaborn-colorblind')
# %matplotlib inline
from feature_selection import filter_method as ft

In [102]:
df = pd.read_csv('../credit_data.csv')
df.head(5)

,uid,all_bal,bad_bal,due_intr,norm_bal,delay_bal,card_sts,is_withdrw,is_transfer,is_deposit,...,is_etc,loan_amt,loan_bal,overdue_class,overdue_flag,credit_amt,owed_int_in,owed_int_out,guar_amount,credit_level
0,110227197010069123,115400.0,0.0,0.0,112059.0,0.0,0.0,0.0,0.0,0.0,...,0.0,100000.0,80027.0,0.0,0.0,160000.0,0.0,0.0,0.0,70
1,120101199105225792,115400.0,0.0,0.0,112059.0,0.0,1.0,0.0,0.0,0.0,...,1.0,100000.0,80027.0,0.0,0.0,160000.0,0.0,0.0,0.0,-1
2,120105197107219624,300000.0,0.0,0.0,300000.0,0.0,1.0,0.0,0.0,0.0,...,1.0,200000.0,200000.0,0.0,0.0,300000.0,0.0,0.0,0.0,60
3,120109198902030396,150000.0,0.0,0.0,150000.0,0.0,1.0,0.0,0.0,0.0,...,1.0,150000.0,150000.0,0.0,0.0,150000.0,0.0,0.0,0.0,60
4,130228197404090996,115400.0,0.0,0.0,112059.0,0.0,1.0,0.0,0.0,0.0,...,1.0,6000.0,5000.0,0.0,0.0,300000.0,0.0,0.0,0.0,60

In [103]:
uid = df.iloc[:, 0]
uid.head(5)

0    110227197010069123
1    120101199105225792
2    120105197107219624
3    120109198902030396
4    130228197404090996
Name: uid, dtype: object

In [104]:
x = df.iloc[:, 1:-1]
x.head(5)

,all_bal,bad_bal,due_intr,norm_bal,delay_bal,card_sts,is_withdrw,is_transfer,is_deposit,is_purchse,...,is_mob_bank,is_etc,loan_amt,loan_bal,overdue_class,overdue_flag,credit_amt,owed_int_in,owed_int_out,guar_amount
0,115400.0,0.0,0.0,112059.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,100000.0,80027.0,0.0,0.0,160000.0,0.0,0.0,0.0
1,115400.0,0.0,0.0,112059.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,100000.0,80027.0,0.0,0.0,160000.0,0.0,0.0,0.0
2,300000.0,0.0,0.0,300000.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,200000.0,200000.0,0.0,0.0,300000.0,0.0,0.0,0.0
3,150000.0,0.0,0.0,150000.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,150000.0,150000.0,0.0,0.0,150000.0,0.0,0.0,0.0
4,115400.0,0.0,0.0,112059.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,6000.0,5000.0,0.0,0.0,300000.0,0.0,0.0,0.0

In [105]:
y = df.iloc[:, -1]
y.head(5)

0    70
1    -1
2    60
3    60
4    60
Name: credit_level, dtype: int64

In [106]:
# filter_method: 剔除常量，因为这些特征对于 y 值没有任何的影响
constant_feature = ft.constant_feature_detect(x, threshold=0.93)
constant_feature

11  variables are found to be almost constant

['bad_bal',
 'due_intr',
 'delay_bal',
 'is_withdrw',
 'is_transfer',
 'is_deposit',
 'is_purchse',
 'overdue_class',
 'overdue_flag',
 'owed_int_in',
 'owed_int_out']

In [107]:
x.drop(labels=constant_feature, axis=1, inplace=True)
x.head(5)

,all_bal,norm_bal,card_sts,cred_limit,bankacct_bal,is_mob_bank,is_etc,loan_amt,loan_bal,credit_amt,guar_amount
0,115400.0,112059.0,0.0,10000.0,0.0,0.0,0.0,100000.0,80027.0,160000.0,0.0
1,115400.0,112059.0,1.0,5000.0,0.0,0.0,1.0,100000.0,80027.0,160000.0,0.0
2,300000.0,300000.0,1.0,5000.0,0.0,0.0,1.0,200000.0,200000.0,300000.0,0.0
3,150000.0,150000.0,1.0,5000.0,0.0,0.0,1.0,150000.0,150000.0,150000.0,0.0
4,115400.0,112059.0,1.0,5000.0,0.0,0.0,1.0,6000.0,5000.0,300000.0,0.0

In [108]:
# 计算相关系数，相关系数大于 0.7 的特征可以删除
corr = ft.corr_feature_detect(data=x, threshold=0.7)
for i in corr:
    print(i, '\n')

   feature1    feature2      corr
0   all_bal    norm_bal  0.994120
7   all_bal    loan_bal  0.825448
12  all_bal  credit_amt  0.808911
16  all_bal    loan_amt  0.795914

       feature1  feature2      corr
21  guar_amount  loan_amt  0.728662

In [109]:
corr_columns = ['all_bal', 'guar_amount']
x.drop(columns=corr_columns, axis=1, inplace=True)

In [110]:
# 计算 VIF 共线性，共线性大于 0.7 的特征删除
vif = ft.calc_VIF(x)
vif.head(30)

          index        VIF
0      norm_bal   9.163161
1      card_sts   3.971374
2    cred_limit   4.529612
3  bankacct_bal   1.179528
4   is_mob_bank   1.291116
5        is_etc   5.272598
6      loan_amt  25.669614
7      loan_bal  19.921820
8    credit_amt  19.023248

In [111]:
# is_transfer、is_purchse、共线性太强，剔除
vif_columns = ['loan_amt']
x.drop(columns=vif_columns, axis=1, inplace=True)

In [112]:
# 互信息衡量选择最好的 80% 特征
mi = ft.mutual_info(X=x, y=y, select_k=0.8)
print(mi)

Index(['norm_bal', 'cred_limit', 'is_mob_bank', 'is_etc', 'loan_bal',
       'credit_amt'],
      dtype='object')

In [113]:
new_x = x[['norm_bal', 'cred_limit', 'is_mob_bank', 'is_etc', 'loan_bal', 'credit_amt']]
new_x.head(5)

   norm_bal  cred_limit  is_mob_bank  is_etc  loan_bal  credit_amt
0  112059.0     10000.0          0.0     0.0   80027.0    160000.0
1  112059.0      5000.0          0.0     1.0   80027.0    160000.0
2  300000.0      5000.0          0.0     1.0  200000.0    300000.0
3  150000.0      5000.0          0.0     1.0  150000.0    150000.0
4  112059.0      5000.0          0.0     1.0    5000.0    300000.0

In [114]:
ans = pd.concat([uid, new_x, y], axis=1)
ans.to_csv('../new_credit_data.csv', header=True, index=False, sep=',')