In [14]:
import pandas as pd
import numpy as np
import os
# plt.style.use('seaborn-colorblind')
# %matplotlib inline
from feature_selection import filter_method as ft

In [15]:
df = pd.read_csv('../star_data.csv')
df.head(5)

,uid,all_bal,avg_mth_x,avg_qur_x,avg_year_x,sa_bal,td_bal,fin_bal,sa_crd_bal,td_crd_bal,...,deps_type,acct_sts,frz_sts,stp_sts,acct_bal,bal,avg_mth_y,avg_qur_y,avg_year_y,star_level
0,110115197206193491,539.47,64.41,0.0,3897.68,539.47,0.0,0.0,539.47,0.0,...,0.0,0.0,0.0,0.0,6.00,6.00,0.00,0.0,9.00,-1
1,11011519791125582X,1.43,0.17,0.0,1.43,1.43,0.0,0.0,1.43,0.0,...,0.0,0.0,0.0,0.0,6.00,6.00,0.00,0.0,9.00,1
2,120109201004079336,14.16,1.69,0.0,14.16,14.16,0.0,0.0,14.16,0.0,...,0.0,0.0,0.0,0.0,14.16,14.16,1.69,0.0,14.16,1
3,120117199505186391,0.00,0.00,0.0,0.00,0.00,0.0,0.0,0.00,0.0,...,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.00,1
4,120225199109064988,427.18,51.01,0.0,619.73,427.18,0.0,0.0,427.18,0.0,...,0.0,0.0,0.0,0.0,427.18,427.18,51.01,0.0,619.73,1

In [16]:
uid = df.iloc[:, 0]
x = df.iloc[:, 1:-1]
x.head(5)

,all_bal,avg_mth_x,avg_qur_x,avg_year_x,sa_bal,td_bal,fin_bal,sa_crd_bal,td_crd_bal,sa_td_bal,...,acct_char,deps_type,acct_sts,frz_sts,stp_sts,acct_bal,bal,avg_mth_y,avg_qur_y,avg_year_y
0,539.47,64.41,0.0,3897.68,539.47,0.0,0.0,539.47,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,6.00,6.00,0.00,0.0,9.00
1,1.43,0.17,0.0,1.43,1.43,0.0,0.0,1.43,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,6.00,6.00,0.00,0.0,9.00
2,14.16,1.69,0.0,14.16,14.16,0.0,0.0,14.16,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,14.16,14.16,1.69,0.0,14.16
3,0.00,0.00,0.0,0.00,0.00,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.00
4,427.18,51.01,0.0,619.73,427.18,0.0,0.0,427.18,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,427.18,427.18,51.01,0.0,619.73

In [17]:
y = df.iloc[:, -1]
y.head(5)

0   -1
1    1
2    1
3    1
4    1
Name: star_level, dtype: int64

In [18]:
# filter_method: 剔除常量，因为这些特征对于 y 值没有任何的影响
constant_feature = ft.constant_feature_detect(x, threshold=0.93)
constant_feature

15  variables are found to be almost constant

['avg_qur_x',
 'fin_bal',
 'td_crd_bal',
 'sa_td_bal',
 'ntc_bal',
 'td_3m_bal',
 'td_6m_bal',
 'td_2y_bal',
 'out_td_bal',
 'cd_bal',
 'acct_char',
 'acct_sts',
 'frz_sts',
 'stp_sts',
 'avg_qur_y']

In [19]:
x.drop(labels=constant_feature, axis=1, inplace=True)
x.head(5)

,all_bal,avg_mth_x,avg_year_x,sa_bal,td_bal,sa_crd_bal,td_1y_bal,td_3y_bal,deps_type,acct_bal,bal,avg_mth_y,avg_year_y
0,539.47,64.41,3897.68,539.47,0.0,539.47,0.0,0.0,0.0,6.00,6.00,0.00,9.00
1,1.43,0.17,1.43,1.43,0.0,1.43,0.0,0.0,0.0,6.00,6.00,0.00,9.00
2,14.16,1.69,14.16,14.16,0.0,14.16,0.0,0.0,0.0,14.16,14.16,1.69,14.16
3,0.00,0.00,0.00,0.00,0.0,0.00,0.0,0.0,0.0,0.00,0.00,0.00,0.00
4,427.18,51.01,619.73,427.18,0.0,427.18,0.0,0.0,0.0,427.18,427.18,51.01,619.73

In [20]:
# 计算相关系数，相关系数大于 0.7 的特征可以删除
corr = ft.corr_feature_detect(data=x, threshold=0.7)
for i in corr:
    print(i, '\n')

  feature1    feature2      corr
0   sa_bal  sa_crd_bal  0.984466

   feature1    feature2      corr
2   all_bal   avg_mth_x  0.981151
10  all_bal      td_bal  0.964273
15  all_bal  avg_year_x  0.943521
26  all_bal   td_3y_bal  0.818252

   feature1    feature2      corr
4       bal   avg_mth_y  0.978356
22      bal  avg_year_y  0.847746

    feature1    feature2      corr
5   acct_bal   avg_mth_y  0.978356
25  acct_bal  avg_year_y  0.847746

In [21]:
corr_columns = ['sa_bal', 'all_bal', 'bal', 'acct_bal']
x.drop(columns=corr_columns, axis=1, inplace=True)

In [22]:
# 计算 VIF 共线性，共线性大于 20 的特征删除
vif = ft.calc_VIF(x)
vif.head(30)

        index        VIF
0   avg_mth_x  69.126398
1  avg_year_x  26.989500
2      td_bal  47.270895
3  sa_crd_bal   2.774719
4   td_1y_bal   1.977634
5   td_3y_bal   6.913430
6   deps_type   1.044099
7   avg_mth_y   4.186826
8  avg_year_y   3.841651

In [23]:
# all_bal、td_bal、acct_bal、bal 共线性太强，剔除
vif_columns = ['avg_mth_x', 'td_bal', 'avg_year_x']
x.drop(columns=vif_columns, axis=1, inplace=True)

In [24]:
# 互信息衡量选择最好的 80% 特征
mi = ft.mutual_info(X=x, y=y, select_k=0.8)
print(mi)

Index(['sa_crd_bal', 'td_1y_bal', 'td_3y_bal', 'avg_year_y'], dtype='object')

In [25]:
new_x = x[['sa_crd_bal', 'td_1y_bal', 'td_3y_bal', 'avg_year_y']]
new_x.head(5)

   sa_crd_bal  td_1y_bal  td_3y_bal  avg_year_y
0      539.47        0.0        0.0        9.00
1        1.43        0.0        0.0        9.00
2       14.16        0.0        0.0       14.16
3        0.00        0.0        0.0        0.00
4      427.18        0.0        0.0      619.73

In [28]:
ans = pd.concat([uid, x, y], axis=1)
ans.to_csv('../new_star_data.csv', header=True, index=False, sep=',')